.wrapper {
  width: 100%;
  .operation {
    margin: 25px 0 0 32.5px;
  }
  .inwrapper {
    display: -webkit-flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
}
#piechart{
  width: 300px;
  height: 300px;
  border: solid 1px #C23531;
  border-radius: 8px;
  margin-right: 20px;
}
#barchart{
  width: 600px;
  height: 400px;
  border: solid 1px #C23531;
  border-radius: 8px;
}


