.login {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: url("../../assets/img/shu.jpg") no-repeat;
  background-size: 100% 100%;
  .filter {
    //position: absolute;
    .SysTitle {
      border-radius: 12px;
      z-index: 999;
      background-color: rgba(16, 16, 16, 0.53);
      padding-top: 40px;
      position: absolute;
      top: calc(50% - 175px);
      right: 200px;
      width: 300px;
      height: 300px;
      font-size: 2.5em;
      color: #b0b0b5;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
      .login-box {
        margin: 10px auto 0 auto;
        width: 60%;
      }
    }
  }
}
