.wrapper {
  width: 100%;
  .operation {
    margin: 25px 0 0 32.5px;
  }
  .table {
    margin: 25px 32.5px;
  }
}

.button {
  font-size: 15px;
  //font-weight: bold;
  color: rgb(70, 76, 91);
  margin-top:30px;
  text-align:center;
}
