.wrapper {
  width: 100%;
  .operation {
    margin: 25px 0 0 32.5px;
  }
  .table {
    margin: 25px 32.5px;
  }
}

.step1 {
  margin-top: 20px;
  .title {
    text-align: center;
    font-size: 1.5em;
  }
  .content {
    padding-bottom: 60px;
    width: 95%;
    max-height: 600px;
    margin: 0 auto;
    border-color: #494746;
    overflow-y: scroll;
    .radio {
      text-align: center;
    }
    .step1button {
      margin-top: 10px;
      text-align: center;
    }
  }
}

.step2 {
  .content {
    height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    .addPartner {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.step3 {
  .content {
    height: 600px;
    max-height: 600px;
    position: relative;
    .upload {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      margin: -15% 0 0 -40%;
    }
    .allSuccess {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      margin: -5% 0 0 -22%;
    }
  }
}
